<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.story.model.mapper.StoryMapper">
    <!-- insertStory 스토리 생성 유저아이디 스토리이미지 생성일자 -->
    <insert id="insertStory" parameterType="Story" useGeneratedKeys="true" keyProperty="storyId" keyColumn="story_id">
        INSERT INTO stories (user_id,story_image,created_at,expires_at)
        VALUES (#{userId},#{storyImage},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP + INTERVAL '24 hours')
    </insert>
    <!-- ! 자동 생성 하면 안 넣어줘도 됨 ! -->

    <!--
        모든 스토리 조회 view 사용
        스토리아이디 유저아이디 스토리이미지 생성일자 유저이름 유저아바타
    -->
    <select id="selectAllStories" resultType="Story">
        SELECT story_id,user_id,story_image,created_at,expires_at,user_name,user_avatar
        FROM active_stories_view
        ORDER BY created_at DESC
    </select>

    <!--
        특정 사용자 조회
    -->
    <select id="selectStoryById" resultType="Story" parameterType="int">
        SELECT story_id, user_id, story_image, created_at, expires_at, user_name, user_avatar
        FROM active_stories_view
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <update id="updateStoryImage" parameterType="Story">
        UPDATE stories
        SET story_image = #{storyImage}
        WHERE story_id = #{storyId}
    </update>
    <!--
        만료된 스토리
        - 삭제? 안 보이고 보관?
    -->
</mapper>
<!--
SELECT
    s.story_id,
    s.user_id,
    s.story_image,
    s.created_at,
    s.expires_at,
    u.user_name,
    u.user_avatar
FROM stories s
INNER JOIN users u ON s.user_id = u.user_id
WHERE s.expires_at > CURRENT_TIMESTAMP
ORDER BY s.created_at DESC
-->