<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.story.model.mapper.StoryMapper">
    <!-- 스토리 생성 -->
    <!-- ! 자동 생성 하면 story_id 안 넣어줘도 됨 ! -->
    <!--
    NOTE
    story_id 를 작성할 경우 클라이언트가 작성한 스토리 아이디를 넘겨준다.
    그런데 프론트엔드에서 백엔드로 받아 온 스토리 아이디가 없고, story_id 측이 int 인 경우
    story_id 값은 null 대신 0 값이 자동으로 추가
    따라서 story_id 값을 제거하고 자동으로 번호 설정되도록 해주기!
    -->
    <insert id="insertStory" parameterType="Story" useGeneratedKeys="true" keyProperty="storyId" keyColumn="story_id">
        INSERT INTO stories (user_id,story_image,created_at,expires_at)
        VALUES (#{userId},#{storyImage},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP + INTERVAL '24 hours')
    </insert>

    <!-- 모든 스토리 조회 -->
    <select id="selectAllStories" resultType="Story">
        SELECT story_id,user_id,story_image,created_at,expires_at,user_name,user_avatar
        FROM active_stories_view
        ORDER BY created_at DESC
    </select>


    <!-- 특정 사용자 스토리 조회 -->
    <select id="selectStoriesByUserId" resultType="Story" parameterType="int">
        SELECT story_id, user_id, story_image, created_at, expires_at, user_name, user_avatar
        FROM active_stories_view
        WHERE user_id = #{userId}
        ORDER BY created_at ASC
    </select>

    <!-- 스토리 아이디 스토리 조회 -->
    <select id="selectStoryById" resultType="Story" parameterType="int">
        SELECT story_id, user_id, story_image, created_at
        FROM stories
        WHERE story_id = #{storyId}
    </select>

    <!-- 스토리 이미지 업데이트 -->
    <update id="updateStoryImage" parameterType="Story">
        UPDATE stories
        SET story_image = #{storyImage}
        WHERE story_id = #{storyId}
    </update>
    <!--
        만료된 스토리
        - 삭제? vs 안 보이고 보관?
    -->
    <delete id="deleteStory" parameterType="int">
        DELETE FROM stories
        WHERE story_id = #{storyId}
    </delete>
</mapper>